body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0D47A1;
}

#results {
  margin-top: 20px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
  
  label,
  input[type="text"],
  button[type="submit"] {
    font-size: 1.2rem;
  }
  
  input[type="text"] {
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
  }
}
