body {
  background-image: url("https://wallpaperaccess.com/full/4084544.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Google Sans', sans-serif;

}

.container {
  margin: auto;
  margin-top: 150px;
  padding: 20px;
  max-width: 700px;
  background-color: rgba(125, 201, 156, 0.2);
  border-radius: 25px;
  backdrop-filter: blur(20px);
}


h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  vertical-align: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid #fff;
}

input[type="radio"]:checked + label:before {
  background-color: #0bbf68;
}

label[for="yes"]:before {
  content: "👍";
}

label[for="no"]:before {
  content: "👎";
}




input[type="submit"]:hover {
  background-color: #0d6efd;
}
