/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5mE0.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVrm8.ttf) format('truetype');
}
